---
---

@import "minima";

:root {
    --background-color: #272B27;
    --text-color: #E0E1E0;
    --link-color: #FFFFFF;
    --header-background: #191919;
    --border-color: #F15025;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    background-color: var(--background-color) !important;
}

.post-meta {
    background-color: var(--background-color) !important;
}

a {
    color: var(--link-color) !important;
    text-decoration: none !important;
}

a:hover {
    color: #F04819 !important;
}


header, footer {
    background-color: var(--header-background);
}

hr {
    border-color: var(--border-color);
}

.site-title, .site-title:visited {
  color: #F04819;
}

nav a {
    color: var(--text-color) !important;
}

nav {
    background-color: var(--header-background) !important;
    border-bottom: 1px solid var(--border-color);
}
