---
---

@import "minima";

:root {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --link-color: #bb86fc;
    --header-background: #1e1e1e;
    --border-color: #333;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--link-color);
}

a:hover {
    color: #fff !important;
}


header, footer {
    background-color: var(--header-background);
}

hr {
    border-color: var(--border-color);
}

.site-title, .site-title:visited {
  color: #fff;
}

nav a, nav a:visited {
    color: var(--text-color) !important;
}

nav a:hover {
    color: var(--link-color) !important;
}

nav {
    background-color: var(--header-background) !important;
    border-bottom: 1px solid var(--border-color);
}
